apiVersion: v1
kind: Service
metadata:
  name: hypelink-gateway-svc
  namespace: hypelink
  annotations: {}
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    type: gateway
    ver: green
