#server:
#  port: 9000

spring:
  application:
    name: API-NOTICE

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: ${API_DISCOVERY_SERVICE}
    registerWithEureka: true
    fetchRegistry: true

management:
  endpoints:
    web:
      base-path: /api/health    # actuator의 기본 경로를 변경
      exposure:
        include: health,info    # 노출시킬 엔드포인트 지정